img {
  display: block;
  max-width: 100%;
  height: 300px;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
